h1{
    text-align: center;
}

    body{
        background-color: rgb(10, 91, 138);
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 166, 0);
    }
    #o1{
        background-color: #c8dbd8;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 30px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: bold;

    }
    div{
        background-color: #1d3a61;
        width: 300px;
        height: 150px;
        margin-top: 50px;
        border-radius: 20px;
        padding: 30px;
        color: goldenrod;
    }