@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em; 
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);


} 
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 9vw;
    
    
}
header>p{
    padding-bottom:50px ;
}
header a,footer a{
    text-decoration: none;
    color: cyan;
    font-weight: bolder;
}
header a:hover,footer a:hover{
    color: goldenrod;
    transition-duration: 0.5s;
    text-decoration: underline;
}
header a:active,footer a:active{
    color:gold;
    text-decoration: underline;
}
section{
    padding-top:10vh ;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
    

}
section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}
section.imag {
    background-color: rgb(58, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
    background-attachment: fixed;
    background-size: cover;
}
section.imag > p{
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px black ;

}
section > p{
    padding-bottom: 2em;
}
#img001{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size:cover;
}
#img002{
    background: url(imagens/background002.jpg)  ;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}