@charset " UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}
p{
    text-align: justify;
    font-size: 14pt;
}
h1{
    text-align: center;
    color: rgb(255, 174, 0);
    text-shadow:1px 1px 0px rgb(182, 131, 1);
}
h2{
    color:  rgb(255, 174, 0);
}
main{
    background-color:#0f364d;
    padding: 10px;
    border-radius: 20px;
    color:white;
    margin: auto;
    width: 600px;
   box-shadow:10px 10px 10px #03275078;


}
body{
    background-image:linear-gradient(to right, #023667,#03749C,#15B1D7)  ; 
    background-attachment: fixed;
}


